.wrapper {
  --columns: 1;
  display: grid;
  color: #000;
  font-size: 1.5rem;
  padding: 0.5em;
  border: 1px solid #fff;
  gap: 1.5rem;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin: 0 auto;
  max-width: 1366px;

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: inherit;
    border: 1px solid #08c;
    background-color: #ff0;
  }
}

@media screen and (min-width: 700px) {
  .wrapper {
    --columns: 2;
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    --columns: 3;
  }
}
