.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background: var(--bg-gradient);
  padding: 2rem;
}

.navigation {
  a {
    --link-lightness: var(--base-color-lightness);
    color: hsl(var(--base-color-hue) var(--base-color-saturation) var(--link-lightness));
    text-decoration: none;

    &:not(:last-of-type) {
      margin-right: 2rem;
    }

    &:hover {
      text-decoration: underline;
      --link-lightness: calc(var(--base-color-lightness) + 20%);
    }

    &.active {
      text-decoration: underline;
    }
  }
}
