.dnd-area {
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #1e1e1e;
  border: 2px solid #8e8e8e;
  flex: 0 1 50%;
  overscroll-behavior: contain;
  min-height: 400px;
  max-height: 500px;

  &.x-area {
    overflow-x: auto;
    flex-direction: row;
  }

  &.y-area {
    overflow-y: auto;
    flex-direction: column;
  }
}

.dnd-source {
  box-sizing: border-box;
  padding: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: inherit;
  background-color: #033639;
  border: 2px solid #8e8e8e;
  margin-top: 2rem;

  &:not(.active) {
    // transition: transform 200ms linear;
  }

  .drag-handler {
    color: #000;
    display: inline-block;
    width: 20px;
    flex-shrink: 0;
    cursor: default;

    svg {
      stroke: currentColor;
      fill: currentColor;
    }

    &:hover {
      color: #4464ee;
    }
  }

  &.active {
    position: fixed;
    border-style: dashed;
    border-color: #4464ee;
    z-index: 1;
  }

  &.inactive {
    opacity: 0.3;
  }
}
