.main {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-rows: 1fr 8rem;
}

.logo {
  top: 6rem;
  right: 6rem;
  position: fixed;
}

.section {
  overflow-y: auto;
  padding: 2rem;
}
