:root {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 10px;
  line-height: 1.2;
  font-weight: normal;
  font-synthesis: none;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  --base-color-hue: 210deg;
  --base-color-saturation: 100%;
  --base-color-lightness: 50%;

  --border-color: #5e5e5e;
  --bg-gradient: radial-gradient(circle, #02424a 30%, #2f3c2e 100%);
}

#root {
  isolation: isolate;
  height: 100vh;
  width: 100vw;
}

body {
  font-size: 1.4rem;
  line-height: 1.2;
}

button {
  --button-lightness: var(--base-color-lightness);
  background-color: hsl(var(--base-color-hue) var(--base-color-saturation) var(--button-lightness));
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 1rem 2.5rem;
  color: #000;
  transition: background-color 170ms linear;
}

button:hover {
  --button-lightness: calc(var(--base-color-lightness) + 20%);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: hsl(120, 8%, 97%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsl(0, 0%, 17%);
  }
}
